@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5">
    <div class="container-md">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h1 class="text-center">Where are you now?</h1>
                <form>
                    <div class="input-group align-items-center rounded">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt"></i></span>
                        <input class="rounded-end form-control" type="text" name="city" placeholder="Sofia" required>
                    </div>
                    <div class="my-3 text-center">
                        <button class="ms-3 px-4 rounded btn btn-success" asp-action="Index" asp-controller="Home">Let's eat</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <img src="~/images/HomePage/foodDelivery.png">
            </div>
        </div>
    </div>
</section>
<section class="mb-5">
    <div class="my-2 container-lg">
        <h1 class="py-3 fw-bold text-center">How it works?</h1>
        <div class="my-2 row justify-content-center">
            <div class="col-3">
                <h2 class="text-center">Choose your place</h2>
                <div class="text-center">
                    Choose a city where you want to explore all the restaurants and find the best for you!
                </div>
            </div>
            <div class="mx-5 col-3">
                <h2 class="text-center">Find the best</h2>
                <div class="text-center">
                    Find your favorite restaurant by searching it in our system or use the filters that can fill up your taste.
                </div>
            </div>
            <div class="col-3">
                <h2 class="text-center">Fast, easy, tasty</h2>
                <div class="text-center">
                    With a few clicks by adding the food in your order and just one more to complete it, you are already done!
                </div>
            </div>
        </div>
    </div>
</section>